<form action="" class="form" name="loginForm">
  <div class="form-group">
    <label class="form-label" for="email">Електронна пошта *</label>
    <input class="form-input" type="email" id="email" name="email" placeholder="Введіть ваш email">
    <div class="form-msg"></div>
  </div>
  <div class="form-group">
    <label class="form-label" for="password">Пароль *</label>
    <div class="input-set input-set-password">
      <input type="password" id="password" name="password" placeholder="Введіть пароль"><button class="show-password" type="button"></button>
    </div>
    <div class="form-msg"></div>
  </div>
  <button class="form-btn js_login-btn" type="submit" name="loginBtn" >Увійти</button>

</form>